* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color:wheat; /* Light mode background */
    font-size: 20px;
}
.h1{
    font-size: 60px;
    color: black
}

body.dark {
    background-color: #121212; /* Dark mode background */
    color: #ffffff; /* Dark mode text color */
}

.container {
    text-align: center;
    padding: 50px;
}

button {
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #007bff;
    color: #ffffff;
}

body.dark button {
    background-color: #1f1f1f;
    color: #ffffff;
}

body.dark button:hover {
    background-color: #0056b3;
}
